@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
body , html {
    
    background-color:"#001935",


=======

html, body{
    margin: 0 !important;
    padding: 0 !important;
    background-color: #001935 !important;
>>>>>>> 7c2982f060a4969af220d71660b6c27cf0b52434
}